{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'social_app/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <header>Welcome to our app! Feel free to post anything. 📝</header>
    <p><button><a href="{% url  'home' %}">Home 🏡</a></button></p>
    
    {% block content %}

    {% endblock %}
    <footer>
        <!-- Add your footer content here -->
        <p>&copy; 2023 Social App</p>
    </footer>
</body>
</html>