{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'social_app/styles.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>{{ user.username }}'s Post</h1>
    <p><button><a href="{% url  'home' %}">Home 🏡</a></button></p>
    <ul>
        {% for post in posts %}
            <li>{{ post.created_at }} - {{ post.post }}</li>
            {% endfor %}
    </ul>
    <a href="{% url 'user_detail' username=user.username %}">Back to {{ user.username }}'s profile</a>

</body>
</html>